In [ ]:
import pandas as pd
import numpy as np

cohort_file= '/labs/shahlab/projects/agataf/bmj_paper/pce_data/all_cohorts.csv'

df = pd.read_csv(cohort_file)#.query("censored_10yr==False")

df_new = df.assign(grp = np.where((df.grp==1) & (df.race_black==0),
                              2,
                              np.where((df.grp==3) & (df.race_black==0),
                                        4,
                                        df.grp)
                             )
              )

df.iloc[np.where(~(df==df_new))[0]]

In [6]:
cohort_file= '/labs/shahlab/projects/agataf/data/cohorts/pooled_cohorts/cohort/all_cohorts.csv'

df = pd.read_csv(cohort_file)#.query("censored_10yr==False")
df_old = df.assign(grp = np.where((df.grp==1) & (df.race_black==0),
                              2,
                              np.where((df.grp==3) & (df.race_black==0),
                                        4,
                                        df.grp)
                             )
              )

In [14]:
df_new==df_old

ValueError: Can only compare identically-labeled DataFrame objects

In [15]:
df_new.head()

,person_id,cohort_idx,cohort_pid,age,race_black,gender_male,grp,hdlc,ldlc,trigly,...,unrxsbp,rxsbp,study,ascvd_10yr,censored_10yr,event_time_10yr,bmi,event_time,event_indicator,fold_id
0,0,8624,C000004,47.0,0.0,0.0,2,86.670,96.730,73.0,...,130.0,0.0,ARIC,False,False,10.0,22.038567,10.0,False,9
1,1,8625,C000005,56.0,0.0,0.0,2,64.521,141.679,74.0,...,110.0,0.0,ARIC,False,False,10.0,30.452441,10.0,False,1
2,2,8628,C000010,52.0,0.0,0.0,2,41.409,118.191,242.0,...,112.0,0.0,ARIC,False,False,10.0,28.666770,10.0,False,2
3,3,8629,C000011,51.0,0.0,0.0,2,62.000,170.600,122.0,...,131.0,0.0,ARIC,False,False,10.0,24.532728,10.0,False,test
4,4,8632,C000015,60.0,0.0,0.0,2,36.594,116.406,180.0,...,0.0,133.0,ARIC,False,False,10.0,33.142661,10.0,False,5

In [16]:
df_old.head()

,person_id,cohort_idx,cohort_pid,age,race_black,gender_male,grp,hdlc,ldlc,trigly,...,unrxsbp,rxsbp,study,ascvd_10yr,censored_10yr,event_time_10yr,bmi,event_time,event_indicator,fold_id
0,0,1,C000004,47.0,0.0,0.0,2,86.670,96.730,73.0,...,130.0,0.0,ARIC,False,False,10.0,22.038567,10.0,False,9
1,1,2,C000005,56.0,0.0,0.0,2,64.521,141.679,74.0,...,110.0,0.0,ARIC,False,False,10.0,30.452441,10.0,False,1
2,2,5,C000010,52.0,0.0,0.0,2,41.409,118.191,242.0,...,112.0,0.0,ARIC,False,False,10.0,28.666770,10.0,False,2
3,3,6,C000011,51.0,0.0,0.0,2,62.000,170.600,122.0,...,131.0,0.0,ARIC,False,False,10.0,24.532728,10.0,False,test
4,4,9,C000015,60.0,0.0,0.0,2,36.594,116.406,180.0,...,0.0,133.0,ARIC,False,False,10.0,33.142661,10.0,False,5

In [17]:
df_old.index == df_new.index

ValueError: Lengths must match to compare

In [25]:
# old cohort had more individuals
len(set(df_old.cohort_pid)-set(df_new.cohort_pid))

1816

In [32]:
df_new.groupby(['study',  'race_black', 'gender_male']).count().filter(['person_id']) == df_old.groupby(['study',  'race_black', 'gender_male']).count().filter(['person_id'])

                               person_id
study  race_black gender_male
ARIC   0.0        0.0               True
                  1.0               True
       1.0        0.0               True
                  1.0               True
CARDIA 0.0        0.0               True
                  1.0               True
       1.0        0.0               True
                  1.0               True
CHS    0.0        0.0               True
                  1.0               True
       1.0        0.0               True
                  1.0               True
FHS_OS 0.0        0.0               True
                  1.0               True
JHS    1.0        0.0               True
                  1.0               True
MESA   0.0        0.0              False
                  1.0              False
       1.0        0.0               True
                  1.0               True

In [33]:
df_new.groupby(['study',  'race_black', 'gender_male']).count().filter(['person_id'])

                               person_id
study  race_black gender_male
ARIC   0.0        0.0               4815
                  1.0               4383
       1.0        0.0               1812
                  1.0               1216
CARDIA 0.0        0.0                289
                  1.0                333
       1.0        0.0                232
                  1.0                153
CHS    0.0        0.0               1848
                  1.0               1169
       1.0        0.0                304
                  1.0                181
FHS_OS 0.0        0.0                828
                  1.0                856
JHS    1.0        0.0               1310
                  1.0                751
MESA   0.0        0.0               1003
                  1.0                922
       1.0        0.0                768
                  1.0                630

In [34]:
df_old.groupby(['study',  'race_black', 'gender_male']).count().filter(['person_id'])

                               person_id
study  race_black gender_male
ARIC   0.0        0.0               4815
                  1.0               4383
       1.0        0.0               1812
                  1.0               1216
CARDIA 0.0        0.0                289
                  1.0                333
       1.0        0.0                232
                  1.0                153
CHS    0.0        0.0               1848
                  1.0               1169
       1.0        0.0                304
                  1.0                181
FHS_OS 0.0        0.0                828
                  1.0                856
JHS    1.0        0.0               1310
                  1.0                751
MESA   0.0        0.0               1913
                  1.0               1828
       1.0        0.0                768
                  1.0                630

In [36]:
df_old.groupby(['study', 'gender_male']).count().filter(['person_id']).query('study=="MESA"')

                   person_id
study gender_male
MESA  0.0               2681
      1.0               2458

In [37]:
df_new.groupby(['study', 'gender_male']).count().filter(['person_id']).query('study=="MESA"')

                   person_id
study gender_male
MESA  0.0               1771
      1.0               1552

In [21]:
df_new.tail()

,person_id,cohort_idx,cohort_pid,age,race_black,gender_male,grp,hdlc,ldlc,trigly,...,unrxsbp,rxsbp,study,ascvd_10yr,censored_10yr,event_time_10yr,bmi,event_time,event_indicator,fold_id
23798,23798,3134,8011567,73.0,1.0,1.0,3,37.0,103.0,147.0,...,0.0,114.5,MESA,False,True,0.736482,30.440389,0.736482,False,3
23799,23799,3190,8014280,46.0,1.0,1.0,3,66.0,147.0,89.0,...,128.0,0.0,MESA,False,True,7.605749,30.978587,7.605749,False,2
23800,23800,3195,8014558,65.0,1.0,1.0,3,37.0,112.0,138.0,...,124.5,0.0,MESA,False,True,7.797399,25.369096,7.797399,False,2
23801,23801,3242,8017760,70.0,1.0,1.0,3,45.0,148.0,112.0,...,0.0,157.0,MESA,False,True,3.912389,26.346227,3.912389,False,eval
23802,23802,3325,8023484,79.0,1.0,1.0,3,47.0,100.0,91.0,...,0.0,142.5,MESA,False,True,7.898700,25.015168,7.898700,False,6

In [12]:
set(df_new.columns)-set(df_old.columns)

set()

In [8]:
df_old.head()

,person_id,cohort_idx,cohort_pid,age,race_black,gender_male,grp,hdlc,ldlc,trigly,...,unrxsbp,rxsbp,study,ascvd_10yr,censored_10yr,event_time_10yr,bmi,event_time,event_indicator,fold_id
0,0,1,C000004,47.0,0.0,0.0,2,86.670,96.730,73.0,...,130.0,0.0,ARIC,False,False,10.0,22.038567,10.0,False,9
1,1,2,C000005,56.0,0.0,0.0,2,64.521,141.679,74.0,...,110.0,0.0,ARIC,False,False,10.0,30.452441,10.0,False,1
2,2,5,C000010,52.0,0.0,0.0,2,41.409,118.191,242.0,...,112.0,0.0,ARIC,False,False,10.0,28.666770,10.0,False,2
3,3,6,C000011,51.0,0.0,0.0,2,62.000,170.600,122.0,...,131.0,0.0,ARIC,False,False,10.0,24.532728,10.0,False,test
4,4,9,C000015,60.0,0.0,0.0,2,36.594,116.406,180.0,...,0.0,133.0,ARIC,False,False,10.0,33.142661,10.0,False,5

In [38]:
cohort_file= '/labs/shahlab/projects/agataf/bmj_paper/pce_data/all_cohorts.csv'

df = pd.read_csv(cohort_file)#.query("censored_10yr==False")

,person_id,cohort_idx,cohort_pid,age,race_black,gender_male,grp,hdlc,ldlc,trigly,...,unrxsbp,rxsbp,study,ascvd_10yr,censored_10yr,event_time_10yr,bmi,event_time,event_indicator,fold_id
4904,4904,5386,177257,67.5,0.0,0.0,1,52.0,181.97,129.0,...,151.77,0.00,CHS,False,False,10.000000,29.382068,10.000000,False,10
4915,4915,5416,185896,65.5,0.0,0.0,1,51.0,127.76,114.0,...,119.00,0.00,CHS,False,False,10.000000,33.307562,10.000000,False,10
5178,5178,6143,378597,69.5,0.0,0.0,1,55.0,89.76,112.0,...,115.00,0.00,CHS,False,False,10.000000,32.704791,10.000000,False,eval
5209,5209,6229,398828,75.5,0.0,0.0,1,88.0,102.76,99.0,...,122.00,0.00,CHS,False,False,10.000000,24.754620,10.000000,False,9
5370,5370,6709,511956,77.5,0.0,0.0,1,58.0,149.76,122.0,...,0.00,139.00,CHS,False,False,10.000000,26.823871,10.000000,False,2
5466,5466,6989,589405,67.5,0.0,0.0,1,72.0,115.76,92.0,...,118.00,0.00,CHS,False,False,10.000000,20.704133,10.000000,False,9
5553,5553,7237,655058,75.5,0.0,0.0,1,41.0,97.76,92.0,...,167.00,0.00,CHS,False,False,10.000000,25.942409,10.000000,False,5
6325,6325,4044,5112085,40.0,0.0,0.0,1,59.0,98.00,59.0,...,100.00,0.00,FHS_OS,False,False,10.000000,19.227124,10.000000,False,6
6337,6337,4074,5337044,43.0,0.0,0.0,1,47.0,105.00,76.0,...,122.00,0.00,FHS_OS,False,False,10.000000,25.717947,10.000000,False,8
6367,6367,4154,6014892,50.0,0.0,0.0,1,60.0,107.00,81.0,...,120.00,0.00,FHS_OS,False,False,10.000000,23.309925,10.000000,False,9
6444,6444,4346,7313701,48.0,0.0,0.0,1,70.0,141.00,54.0,...,110.00,0.00,FHS_OS,False,False,10.000000,20.028656,10.000000,False,6
6445,6445,4348,7336322,44.0,0.0,0.0,1,61.0,85.00,57.0,...,120.00,0.00,FHS_OS,False,False,10.000000,26.683171,10.000000,False,10
6710,6710,4911,4279919,43.0,0.0,0.0,1,53.0,78.00,85.0,...,115.00,0.00,FHS_OS,False,False,10.000000,21.795567,10.000000,False,7
12477,12477,8461,959408,67.5,0.0,1.0,3,40.0,139.76,219.0,...,131.00,0.00,CHS,False,False,10.000000,30.977117,10.000000,False,4
12745,12745,3841,3595672,50.0,0.0,1.0,3,38.0,127.00,142.0,...,120.00,0.00,FHS_OS,False,False,10.000000,26.868140,10.000000,False,2
12896,12896,4208,6411884,42.0,0.0,1.0,3,92.0,102.00,67.0,...,134.00,0.00,FHS_OS,False,False,10.000000,22.446623,10.000000,False,eval
12955,12955,4336,7204598,44.0,0.0,1.0,3,36.0,134.00,158.0,...,124.00,0.00,FHS_OS,False,False,10.000000,28.840686,10.000000,False,7
12979,12979,4393,7573399,47.0,0.0,1.0,3,40.0,169.00,175.0,...,120.00,0.00,FHS_OS,False,False,10.000000,26.081377,10.000000,False,1
13250,13250,5073,9390406,47.0,0.0,1.0,3,47.0,165.00,144.0,...,153.00,0.00,FHS_OS,False,False,10.000000,29.514725,10.000000,False,8
13254,13254,5084,9805404,42.0,0.0,1.0,3,54.0,112.00,320.0,...,141.00,0.00,FHS_OS,False,False,10.000000,29.750221,10.000000,False,1
20242,20242,5807,286827,77.5,0.0,0.0,1,38.0,180.76,182.0,...,0.00,152.00,CHS,True,False,2.130048,26.739895,2.130048,True,5
20324,20324,6617,490080,67.5,0.0,0.0,1,58.0,134.97,62.0,...,147.77,0.00,CHS,True,False,8.950034,25.793212,8.950034,True,4
20366,20366,7054,605340,75.5,0.0,0.0,1,66.0,124.76,78.0,...,159.00,0.00,CHS,True,False,6.475017,21.658102,6.475017,True,7
21116,21116,7609,751158,67.5,0.0,1.0,3,59.0,78.97,70.0,...,155.77,0.00,CHS,True,False,7.518138,26.857205,7.518138,True,test
22057,22057,5338,162814,77.5,0.0,0.0,1,70.0,64.76,71.0,...,0.00,112.00,CHS,False,True,9.043121,24.889468,9.043121,False,7
22281,22281,8047,858896,77.5,0.0,0.0,1,38.0,104.97,144.0,...,0.00,183.77,CHS,False,True,2.956879,35.300000,2.956879,False,5
22641,22641,5172,121990,71.5,0.0,1.0,3,42.0,122.97,171.0,...,130.77,0.00,CHS,False,True,3.931554,26.803278,3.931554,False,2
22699,22699,6112,371554,73.5,0.0,1.0,3,33.0,75.76,278.0,...,126.00,0.00,CHS,False,True,2.001369,27.615490,2.001369,False,6
22762,22762,7194,644306,71.5,0.0,1.0,3,69.0,166.76,103.0,...,128.00,0.00,CHS,False,True,8.041068,23.339008,8.041068,False,7